.recipes-index-page {
    border-top: 1px solid #d0d0d0d1; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your-recipes-headline {
    background-color: #ddddddde; 
    padding: 5rem; 
    text-align: center;
    align-self: stretch;
    display: flex; 
    justify-content: center;
    


}

.your-recipes-headline .your-recipes-headline-wrapper {
    display: flex; 
    max-width: 900px; 
    align-items: center;  
    gap: 3rem; 
}

.your-recipes-headline .recipes-headline-text {
    text-align: left; 
    font-size: 1.5rem;
}

.your-recipes-headline .recipes-headline-text h1 {
    font-size: 3rem;
}

.your-recipes-headline .recipes-headline-text p {
    margin-top: 1.5rem; 
}



.recipe-cards-container {
    display: flex; 
    max-width: 1000px; 
    flex-wrap: wrap;
    gap: 3rem; 
    justify-content: center;
    margin-top: 2rem; 
    /* align-self: center; */
}

.recipe-cards-container .recipe-title {
   text-decoration: none;
   color: black; 
   text-align: center;
   font-weight: bold; 
   font-size: 1.5rem;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
    display: flex; 
    justify-content: center;
}