.recipes-index-page {
  border-top: 1px solid #faeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-recipes-headline {
  background-color: var(--light-grey-accent);
  padding: 5rem;
  text-align: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.your-recipes-headline .your-recipes-headline-wrapper {
  display: flex;
  max-width: 900px;
  align-items: center;
  gap: 4rem;
}

.your-recipes-headline .recipes-headline-text {
  text-align: left;
  font-size: 1.8rem;
}

.your-recipes-headline .recipes-headline-text h1 {
  font-size: 3rem;
  color: black;
}

.your-recipes-headline .recipes-headline-text p {
  margin-top: 1.5rem;
  color: rgb(63, 62, 62);
  letter-spacing: 1.1px;

  font-weight: 500;
}

.container {
  padding: 5rem 2rem;
}

.row {
  margin-right: unset;
  margin-left: unset;
}

.card-group {
  gap: 4rem;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: 0.3s;
  border: none;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* .card button {
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
  padding: 0.5rem;
  z-index: 1000; 
} */

.recipe-links {
  text-decoration: none;
  color: black;
}

.card-body {
  padding: 1.5rem;
}

.card-column:not(:first-child) {
  margin-top: 3rem;
}

.recipe-title {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
