.recipes-index-page {
  /* border-top: 1px solid #faeeee; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 5rem;
}

.row {
  margin-right: unset;
  margin-left: unset;
}

.card-group {
  gap: 3.5rem;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: 0.3s;
  border: none;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.recipe-links {
  text-decoration: none;
  color: black;
}

.card-body {
  padding: 1.5rem;
}

.card-column:not(:first-child) {
  margin-top: 3rem;
}

.recipe-title {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
