.nav {
  background-color: black;
  position: sticky;
  height: 60px;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  z-index: 500;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: unset;
}

.hamburger {
  width: 21px;
  height: 12px;
  transform: rotate(0deg);
  flex-shrink: 0;
  position: relative;
  z-index: 500;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  box-shadow: none;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  border-radius: 100px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  margin-top: -2px;
}

#hamburger-line-2 {
  transform: translate3d(0px, 12px, 0px) rotate(0deg);
}

.nav-menu-list {
  color: white;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  margin-top: 1.1rem;
  padding: 0px 16px;
  pointer-events: none;
  opacity: 0;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 10px,
    black 30px,
    black calc(100% - 35px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 10px,
    black 30px,
    black calc(100% - 35px),
    transparent 100%
  );
  transition: opacity 0s ease 0.2s;
}

.nav-menu-list::-webkit-scrollbar {
  display: none;
}

.nav-menu-list > * {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-menu-list li {
  color: white;
  font-weight: 600;
  margin: 0px 16px;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease 0.1s;
}

.nav-menu-list a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.foodie-header {
  padding-left: 1.5rem;
  color: #fff;
}

