.nav {
  position: fixed;
  height: 60px;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  z-index: 500;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.hamburger {
  width: 24px;
  height: 12px;
  transform: rotate(0deg);
  flex-shrink: 0;
  position: relative;
  z-index: 500;
}

.hamburger-line {
  display: block;
  height: 4px;
  width: 100%;
  background: rgb(0, 0, 0);
  box-shadow: none;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  border-radius: 100px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  margin-top: -2px;
}

#hamburger-line-2 {
  transform: translate3d(0px, 12px, 0px) rotate(0deg);
}

.nav-menu-list {
  list-style: none;
  display: flex;
  overflow-x: scroll;
  margin-left: 2rem;
  margin-top: -2rem;
  padding: 0px 16px;
  pointer-events: none;
  opacity: 0;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 10px,
    black 30px,
    black calc(100% - 35px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 10px,
    black 30px,
    black calc(100% - 35px),
    transparent 100%
  );
  transition: opacity 0s ease 0.2s;
}

.nav-menu-list::-webkit-scrollbar {
  display: none;
}

.nav-menu-list > * {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-menu-list li {
  color: rgb(0, 0, 0);
  margin: 0px 16px;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease 0.1s;
}

.nav-menu-list a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* .hamburger {
  position: fixed;
  top: 6rem;
  left: 4rem;
  margin-left: -2em;
  margin-top: -45px;
  width: 2rem;
  height: 45px;
  z-index: 1000;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: black;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}
.my-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.my-nav a {
  position: relative;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 3em;
  display: inline-block;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  font-weight: 800;
}
.my-nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: black;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
.my-nav a:hover {
  color: black;
}

.my-nav a:hover:before {
  height: 100%;
}

.inner-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.mobile-nav-icon {
  padding-right: 1rem;
} */
