.logo-social-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo-headline {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-headline a {
  text-decoration: none;
}

.logo-social-links-container h1 {
  font-size: 4rem;
}

.logo-social-links-container h3 {
  margin-top: 0.7rem;
}

.logo-social-links-container .social-links ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}

.logo-social-links-container .social-links i {
  font-size: 2.75rem;
  color: white;
}

.logo-social-links-container .social-links .nav-link {
  font-size: 2rem;
}

.logo-social-links-container .social-links #heart-icon {
  color: red;
  padding-right: 0.7rem;
}
