.home-page-container {
  height: 85vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background: url('../../Assets/ella-olsson-oPBjWBCcAEo-unsplash.jpg');
  background-size: cover; 
  
}



.home-page-container .form-container {
    background-color: #3333338c;
    padding: 4rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem; 
}



.home-page-container .form-container h1 {
    font-size: 3rem;
    color: yellow; 
}

.slogan-text {
    text-align: center;
    padding: 2rem; 
}


