.carousel-container {
  padding: 5rem 5rem 8rem 5rem;
}

.carousel-inner {
  padding-bottom: 3rem;
  position: unset;
}

.carousel-item {
  position: unset;
  padding: 2rem 6rem 2rem 6rem;
}
.carousel-item-inner-content {
  display: flex;
  gap: 4rem;
}

.carousel-img-container {
  flex: 1;
  position: relative;
}

.carousel-img-container img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.carousel-inner-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.carousel-inner-text h2 {
  font-weight: 600;
  cursor: pointer;
}

.carousel-inner-text h2:hover {
  text-decoration: underline;
}

.carousel-control-prev {
  left: -6rem;
}

.carousel-control-prev:hover {
  color: black;
}

.carousel-control-next {
  right: -6rem;
}

.carousel-control-next:hover {
  color: black;
}

.carousel-indicators [data-mdb-target] {
  background-color: black;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.carousel-links {
  color: black;
}

.carousel-links:hover {
  color: black;
}

@media only screen and (max-width: 900px) {
  .carousel-item {
    padding: 2rem 3rem;
  }
  .carousel-item-inner-content {
    flex-direction: column;
  }
  .carousel-inner {
    height: 75vh;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-inner {
    height: 82vh;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-item {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 450px) {
  .carousel-inner {
    height: 95vh;
  }
  .carousel-container {
    padding: 5rem 5rem 12rem 5rem;
  }
  .carousel-indicators {
    margin-bottom: -1rem;
  }
}
