.footer {
 
}

.footer span {
  font-size: 1.3rem;
}

.footer .content-container {
  display: flex;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 5rem;
}
