.footer span {
  font-size: 1.3rem;
}

.footer .content-container {
  display: flex;
  align-items: center;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
}

@media only screen and (max-width: 991px) {
  .footer-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .footer-container {
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer-container {
    padding: 3rem;
    gap: 1rem;
  }
}
