.logo-social-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-black);
  position: sticky;
  top: 0;
  padding: 0.4% 4%;
  font-size: 1.6rem;
  overflow: hidden;
  background-color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1000;
  color: white;
}

.logo-headline {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-headline a {
  text-decoration: none;
}

.logo-social-links-container h1 {
  font-size: 2.1rem;
}

.logo-social-links-container ul {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}

.logo-social-links-container ul li a {
  color: white;
}

.nav-icon {
  padding-right: 1rem;
  font-size: 2rem;
}

.search-icon {
  margin-right: 1rem;
  font-size: 2.1rem;
}

#user-auth-btn {
  background-color: #212529;
  color: white;
  border-radius: 22px;
  padding: 0.5rem 1.7rem;
}

#user-auth-btn a {
  display: flex;
  align-items: center;
}


#input-enclose input {
  border-radius: 8px;
  border: none;
  padding: 0.6rem 0;
  font-size: 1.6rem;
  width: 0;
  margin-right: -1px;
  transition: all 0.3s;
  background-color: #212529;
  color: white;
}

.label-enclose {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.label-enclose label {
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .logo-social-links-container {
    padding: 0.8% 4%;
  }
}

@media only screen and (max-width: 900px) {
  #desktop-nav-search-bar {
    display: none;
  }
  .logo-social-links-container {
    padding: 1.4% 4%;
  }
  #user-auth-btn {
    padding: 0.35rem 1.7rem;
  }
}
