.App {
  margin: 0px;
  padding: 0px;
  line-height: 3rem;
  
}

[class^="bi-"]::before, [class*=" bi-"]::before {
  line-height: unset;
}

/* h1 {
  font-size: calc(1.375rem + 1.5vw);
  
} */

h1, h2 {
  font-weight: 600;
}

h2 {
  margin-bottom: 0; 
}

p { 
  font-size: 1.6rem;
  color: var(--secondary-text-grey);
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  outline: none;
}



:root {
  --light-grey-accent: #e6e6e6c7;
  --off-white-background: #fbfbf8bd;
  --primary-text-black: #333333;
  --secondary-text-grey: #777676; 
  
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  position: relative;
  background-color: var(--off-white-background);
  font-family: 'Poppins';
  letter-spacing: 1px;
  color: var(--primary-text-black); 

}

body::-webkit-scrollbar {
  display: none;
}

/* h1, h2, h3, h4, h5, p, span, label {
  color: var(--primary-text-black); 
} */

