.App {
  margin: 0px;
  padding: 0px;
  line-height: 2.75rem;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}



:root {
  --light-grey-accent: #e6e6e6c7;
  --off-white-background: #fbfbf8bd;
  --primary-text-black: #333333;
  --secondary-text-grey: #777676; 
  
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: var(--off-white-background);
  font-family: 'Archivo';
  letter-spacing: 1px;
  color: var(--primary-text-black); 

}

body::-webkit-scrollbar {
  display: none;
}

/* h1, h2, h3, h4, h5, p, span, label {
  color: var(--primary-text-black); 
} */

