@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: var(--off-white-background);
  color: var(--primary-text-black);
  font-family: 'Archivo';
  letter-spacing: 1px;
  
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  margin-bottom: 0;
}
