html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: var(--off-white-background);
  color: var(--primary-text-black);
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  margin-bottom: 0;
}
