.mobile-nav-foodie-header {
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  top: 6rem;
  align-items: baseline;
  gap: 1rem;
}

.mobile-nav-foodie-header h1 {
  font-size: 4rem;
}
